<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id='myapp'>
       <input type="text" name="" v-model="name" id="">
       {{name}}

       <input type="checkbox" value="apple"    v-model="furit" id="">apple
       <input type="checkbox" value="banner"   v-model="furit" id=""> banner
    </div>
    <script>
        var vm=new Vue({
            el:"#myapp",
            data:function(){
                return {
                   name:'',
                   furit:['apple']
                }
            }
        });
    </script>
</body>
</html>